
.banner{
    background-image: url('../images/background-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25% 20%;
    display: flex;
    justify-content: center;
    margin-bottom: 110px;
    min-height: 300px;
    height: 300px;
}

.profile{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    top: 264px;
}