* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main{
  display: flex;
  flex-direction: column;
  margin-top: 4rem; /* check navbar.css height */
}
